.bash_history
.bash_logout
.bashrc
.cache/
.config/
.git-credentials
.gnupg/
.local/
.mozilla/
.oh-my-zsh/
.pki/
.profile
.shell.pre-oh-my-zsh
.sudo_as_admin_successful
.zcompdump
.zsh_history
mytoken.txt
powerlevel10k/
snap/
